.title {
    background-color: #073b4c;
}
.conversation {
    background-color: #f0f0f0;
}
.user {
    background-color: #3B28CC;
}
.chatbot {
    background-color:#2667FF;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3F8EFC; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3B28CC; 
}